.flies {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: var(--text-color);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid var(--border-color);
}
.f-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.f-left h2 {
    font-size: 16px;
    font-weight: 500;
}
.f-right {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.add {
  display: flex;
  position: relative;
}
.add-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: var(--text-color);
  top: 40px;
  right: -40px;
  background: var(--bg-color);
  box-shadow: var(--modal-box-shadow);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  z-index: 1010;
}
.add-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1009;
  top: 0;
  left: 0;
}
.add-item {
  display: flex;
  color: var(--text-color);
  padding: 12px 16px;
  width: 150px;
  height: auto;
}
.add-item:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    flex: 1;
    overflow-y: auto;
}
.file_blank {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    color: var(--color-text-empty);
    font-size: 16px;
    font-weight: 500;
}
.file_button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 4px;
    border-radius: 4px;
    width: 100%;
    user-select: none;
}
.breadcrumb {
  display: flex;
  align-items: center;
  gap: 6px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 5px 10px;
  background: var(--bg-color);
}
.breadcrumb_item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.folder_name {
  color: var(--color-text-empty);
  font-size: 14px;
  font-weight: 500;
  padding: 2px 4px;
  border-radius: 4px;
  transition: all 0.2s ease;
  user-select: none;
}
.folder_name.active {
  color: var(--text-color);
  font-weight: 600;
}
.separator {
  color: #666666;
  font-size: 14px;
  user-select: none;
}
.svg {
  color: var(--text-color);
}
.icon_wrapper {
  width: 30px;
  height: 30px;
}
.file_name {
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  flex: 1;
}
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: var(--modal-box-shadow);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 70%;
  max-width: 320px;
  padding: 16px 0;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1005;
}
.modal h4 {
  display: flex;
  margin-left: 16px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
.modal button {
  width: 100%;
  color: var(--text-color);
  padding: 12px 16px;
  background: transparent;
  border: none;
  font-size: 14px;
  text-align: left;
  transition: background-color 0.2s ease;
}
.modal button:hover,
.modal button:active {
  background-color: rgba(255, 255, 255, 0.05);
}
.modal button:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
.input_modal {
  padding: 10px;
  gap: 10px;
}
.input_modal input {
  background: transparent;
  border: 1px solid var(--border-color) !important;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 5px 10px;
  height: 30px;
  color: var(--text-color);
}
.action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.action button {
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}